<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DoCompiler</servlet-name>
        <servlet-class>servlet.DoCompiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoEmail</servlet-name>
        <servlet-class>servlet.DoEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoCheckUsername</servlet-name>
        <servlet-class>servlet.DoCheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doLogout</servlet-name>
        <servlet-class>servlet.doLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoDbPassCheck</servlet-name>
        <servlet-class>servlet.DoDbPassCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoInsertAufgabe</servlet-name>
        <servlet-class>servlet.DoInsertAufgabe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoInsertTest</servlet-name>
        <servlet-class>servlet.DoInsertTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoTestCompiler</servlet-name>
        <servlet-class>servlet.DoTestCompiler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoCompiler</servlet-name>
        <url-pattern>/DoCompiler.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoCheckUsername</servlet-name>
        <url-pattern>/DoCheckUsername.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoDbPassCheck</servlet-name>
        <url-pattern>/DoDbPassCheck.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoEmail</servlet-name>
        <url-pattern>/DoEmail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoInsertAufgabe</servlet-name>
        <url-pattern>/DoInsertAufgabe.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoInsertTest</servlet-name>
        <url-pattern>/DoInsertTest.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoTestCompiler</servlet-name>
        <url-pattern>/DoTestCompiler.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doLogout</servlet-name>
        <url-pattern>/JavAcademydoLogout.do</url-pattern>
        <url-pattern>/doLogout.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
