/* 
    Created on : 11.12.2015, 10:23:14
    Author     : wilmanm
*/

html{
    background-image: url(../bilder/CautionJoke.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}