/* 
    Created on : 11.12.2015, 10:23:14
    Author     : wilmanm
*/

#b_email{
    padding-right:80px;
    margin-left:auto ;
    margin-right: auto;
}

#b_passwort{
    padding-right: 60px;
    margin-left:auto ;
    margin-right: auto;
}